.navbar{
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
}
.navbar li{
    list-style-type: none;
    color: red;
}

.navbar li:hover{
    cursor: pointer;
}

.carousel {
    /* background: red; */
    width: 100%;
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.title{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-arrow:hover,
.right-arrow:hover{
    cursor: pointer;
}